In [1]:
import pandas as pd

In [12]:
# Loading the data using pandas into mp {Monkey Pox}
mp = pd.read_csv('DATA.csv', index_col= 0)
mp.head()

,Systemic Illness,Rectal Pain,Sore Throat,Penile Oedema,Oral Lesions,Solitary Lesion,Swollen Tonsils,HIV Infection,Sexually Transmitted Infection,MonkeyPox
Patient_ID,,,,,,,,,,
P0,None,False,True,True,True,False,True,False,False,Negative
P1,Fever,True,False,True,True,False,False,True,False,Positive
P2,Fever,False,True,True,False,False,False,True,False,Positive
P3,None,True,False,False,False,True,True,True,False,Positive
P4,Swollen Lymph Nodes,True,True,True,False,False,True,True,False,Positive

In [13]:
# Checking the summary of the data

mp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25000 entries, P0 to P24999
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Systemic Illness                25000 non-null  object
 1   Rectal Pain                     25000 non-null  bool
 2   Sore Throat                     25000 non-null  bool
 3   Penile Oedema                   25000 non-null  bool
 4   Oral Lesions                    25000 non-null  bool
 5   Solitary Lesion                 25000 non-null  bool
 6   Swollen Tonsils                 25000 non-null  bool
 7   HIV Infection                   25000 non-null  bool
 8   Sexually Transmitted Infection  25000 non-null  bool
 9   MonkeyPox                       25000 non-null  object
dtypes: bool(8), object(2)
memory usage: 781.2+ KB

In [5]:
mp.index.duplicated().sum()

0

In [8]:
mp.columns

Index(['Systemic Illness', 'Rectal Pain', 'Sore Throat', 'Penile Oedema',
       'Oral Lesions', 'Solitary Lesion', 'Swollen Tonsils', 'HIV Infection',
       'Sexually Transmitted Infection', 'MonkeyPox'],
      dtype='object')

In [7]:
mp.describe()

,Systemic Illness,Rectal Pain,Sore Throat,Penile Oedema,Oral Lesions,Solitary Lesion,Swollen Tonsils,HIV Infection,Sexually Transmitted Infection,MonkeyPox
count,25000,25000,25000,25000,25000,25000,25000,25000,25000,25000
unique,4,2,2,2,2,2,2,2,2,2
top,Fever,False,True,True,False,True,True,True,False,Positive
freq,6382,12655,12554,12612,12514,12527,12533,12584,12554,15909

In [15]:
mp['Systemic Illness'].value_counts()

Fever                    6382
Swollen Lymph Nodes      6252
None                     6216
Muscle Aches and Pain    6150
Name: Systemic Illness, dtype: int64

In [17]:
# Reducing ambiguity in the systemic illness column we change none to No systemic Illness

mp['Systemic Illness'].replace(to_replace= 'None',value= 'No Systemic Illness',inplace= True)

In [18]:
# Confirming change
mp['Systemic Illness'].value_counts()

Fever                    6382
Swollen Lymph Nodes      6252
No Systemic Illness      6216
Muscle Aches and Pain    6150
Name: Systemic Illness, dtype: int64

From the above info we can see that all the columns have only two unique values meaning converting to int will not be as complicated.

Systemic illness has the most with 4.

data cleaning will be relatievly easy as the data has no missing values and no duplicates.

Only task is type casting.

In [20]:
df = pd.get_dummies(data= mp, columns= ['Systemic Illness'],drop_first= False)

df.head()

,Rectal Pain,Sore Throat,Penile Oedema,Oral Lesions,Solitary Lesion,Swollen Tonsils,HIV Infection,Sexually Transmitted Infection,MonkeyPox,Systemic Illness_Fever,Systemic Illness_Muscle Aches and Pain,Systemic Illness_No Systemic Illness,Systemic Illness_Swollen Lymph Nodes
Patient_ID,,,,,,,,,,,,,
P0,False,True,True,True,False,True,False,False,Negative,0,0,1,0
P1,True,False,True,True,False,False,True,False,Positive,1,0,0,0
P2,False,True,True,False,False,False,True,False,Positive,1,0,0,0
P3,True,False,False,False,True,True,True,False,Positive,0,0,1,0
P4,True,True,True,False,False,True,True,False,Positive,0,0,0,1